<%- include ('../../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../../partials/css') %>
  <title>Books | Resources | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../../partials/nav') %>
  </header>

  <main>
    <h1>ADHD Resources</h1>
    <div class="resources books">
      <h2><i class="fas fa-book"></i> Books</h2>

      <div class="books-container">

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Driven-Distraction-Revised-Recognizing-Attention/dp/0307743152/">
            <img src="../images/books/driven-to-distraction.jpg" alt="Driven to Distraction book cover" />
          </div>
          <div class="book-title">
            <i>Driven to Distraction: Recognizing and Coping with Attention Deficit Disorder</i></a>
            <br>Edward M. Hallowell &amp; John J. Ratey
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Delivered-Distraction-Getting-Attention-Disorder/dp/0345442318/">
            <img src="../images/books/delivered-from-distraction.jpg" alt="Delivered from Distraction book cover" />
          </div>
          <div class="book-title">
              <i>Delivered from Distraction: Getting the Most out of Life with Attention Deficit Disorder</i></a>
              <br>Edward M. Hallowell &amp; John J. Ratey
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Radical-Guide-Women-ADHD-Neurodiversity/dp/168403261X/">
            <img src="../images/books/radical-guide-for-women-with-adhd.jpg" alt="A Radical Guide for Women with ADHD book cover" />
          </div>
          <div class="book-title">
              <i>A Radical Guide for Women with ADHD: Embrace Neurodiversity, Live Boldly, and Break Through Barriers</i></a>
              <br>Sari Solden &amp; Michelle Frank
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Women-Attention-Deficit-Disorder-Differences/dp/0978590929/">
            <img src="../images/books/women-with-add.jpg" alt="Women with Attention Deficit Disorder book cover" />
          </div>
          <div class="book-title">
            <i>Women with Attention Deficit Disorder: Embrace Your Differences and Transform Your Life</i></a>
            <br>Sari Solden
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Journeys-Through-ADDulthood-Discover-Attention/dp/0802776795/">
            <img src="../images/books/journeys-through-addulthood.jpg" alt="Journeys through ADDulthood book cover" />
          </div>
          <div class="book-title">
            <i>Journeys through ADDulthood: Discover a New Sense of Identity and Meaning with Attention Deficit Disorder</i></a>
            <br>Sari Solden
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/You-Mean-Lazy-Stupid-Crazy/dp/0743264487/">
            <img src="../images/books/you-mean-i'm-not-lazy-stupid-or-crazy.jpg" alt="You Mean I'm Not Lazy, Stupid or Crazy?! book cover" />
          </div>
          <div class="book-title">
            <i>You Mean I'm Not Lazy, Stupid or Crazy?!</i></a>
            <br>Kate Kelly &amp; Peggy Ramundo
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Queen-Distraction-Women-Conquer-Chaos/dp/1626250898/">
            <img src="../images/books/queen-of-distraction.jpg" alt="The Queen of Distraction book cover" />
          </div>
          <div class="book-title">
              <i>The Queen of Distraction: How Women with ADHD can Conquer Chaos, Find Focus, and Get More Done</i></a>
              <br>Terry Matlen
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Help-Women-ADHD-Strategies-Conquering/dp/1544182708/">
            <img src="../images/books/help-for-women-with-adhd.jpg" alt="Help for Women with ADHD book cover" />
          </div>
          <div class="book-title">
            <i>Help for Women with ADHD: My Simple Strategies for Conquering Chaos</i></a>
            <br>Joan Wilder
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Divergent-Mind-Thriving-World-Designed/dp/0062876791/">
            <img src="../images/books/divergent-mind.jpg" alt="Divergent Mind book cover" />
          </div>
          <div class="book-title">
            <i>Divergent Mind: Thriving in a World that Wasn't Designed for You</i></a>
            <br>Jenara Nerenberg
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Taking-Charge-Adult-Russell-Barkley/dp/1606233386/">
            <img src="../images/books/taking-charge-of-adult-adhd.jpg" alt="Taking Charge of Adult ADHD book cover" />
          </div>
          <div class="book-title">
            <i>Taking Charge of Adult ADHD</i></a>
            <br>Russell A. Barkley
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/dp/1433811251/">
            <img src="../images/books/succeeding-with-adult-adhd.jpg" alt="Succeeding with Adult ADHD book cover" />
          </div>
          <div class="book-title">
            <i>Succeeding with Adult ADHD: Daily Strategies to Help You Achieve Your Goals and Manage Your Life</i></a>
            <br>Abigail Levrini &amp; Frances Prevatt
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Thriving-Adult-ADHD-Strengthen-Functioning/dp/1641522720/">
            <img src="../images/books/thriving-with-adult-adhd.jpg" alt="Thriving with Adult ADHD book cover" />
          </div>
          <div class="book-title">
            <i>Thriving with Adult ADHD: Skills to Strengthen Executive Functioning</i></a>
            <br>Phil Boissiere
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Focused-Forward-Navigating-Storms-Adult/dp/0996983902/">
            <img src="../images/books/focused-forward.jpg" alt="Focused Forward book cover" />
          </div>
          <div class="book-title">
            <i>Focused Forward: Navigating the Storms of Adult ADHD</i></a>
            <br>James M. Ochoa
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Mindfulness-Prescription-Adult-ADHD-Strengthening/dp/1590308476/">
            <img src="../images/books/mindfulness-prescription-for-adult-adhd.jpg" alt="The Mindfulness Prescription for Adult ADHD book cover" />
          </div>
          <div class="book-title">
            <i>The Mindfulness Prescription for Adult ADHD: An 8-Step Program for Strengthening Attention, Managing Emotions, and Achieving Your Goals</i></a>
            <br>Lidia Zylowska
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Organizing-Solutions-People-Revised-Updated-ebook/dp/B007ETD7GO/">
            <img src="../images/books/organizing-solutions-for-people-with-adhd.jpg" alt="Organizing Solutions for People with ADHD book cover" />
          </div>
          <div class="book-title">
            <i>Organizing Solutions for People with ADHD</i></a>
            <br>Susan C. Pinsky
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Weeks-Organized-Life-Ad-Hd/dp/1589793269/">
            <img src="../images/books/4-weeks-to-an-organized-life-with-adhd.jpg" alt="4 Weeks to an Organized Life with AD/HD book cover" />
          </div>
          <div class="book-title">
            <i>4 Weeks to an Organized Life with AD/HD</i></a>
            <br>Jeffrey Freed &amp; Joan Shapiro
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Scattered-Attention-Deficit-Disorder-Originates/dp/0452279631/">
            <img src="../images/books/scattered.jpg" alt="Scattered book cover" />
          </div>
          <div class="book-title">
            <i>Scattered: How Attention Deficit Disorder Originates and What You Can Do About It</i></a>
            <br>Gabor Mate
          </div>
        </div>

        <div class="single-book">
          <div class="book-cover">
            <a href="https://smile.amazon.com/Gift-Adult-ADD-Transform-Challenges/dp/1572245654/">
            <img src="../images/books/gift-of-adult-add.jpg" alt="The Gift of Adult ADD book cover" />
          </div>
          <div class="book-title">
            <i>The Gift of Adult ADD: How to Transform Your Challenges and Build on Your Strengths</i></a>
            <br>Lara Honos-Webb
          </div>
        </div>
      </div>
    </div>

    <!-- Add a Resource Section -->
<%- include ('../../partials/add-resource') %>

  </main>

  <!-- Footer -->
<%- include ('../../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../../partials/script') %>

</body>
</html>