<%- include ('../../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../../partials/css') %>
  <title>Professional Organizations | Resources | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../../partials/nav') %>
  </header>

  <main>

    <h1>ADHD Resources</h1>

    <div class="resources organizations">
      <h2><i class="fas fa-user-friends"></i> Professional Organizations</h2>

      <!-- ADDA -->
      <h3><a href="https://add.org/">Attention Deficit Disorder Association (<abbr title="Attention Deficit Disorder Association">ADDA</abbr>)</a></h3>
      <p><abbr title="Attention Deficit Disorder Association">ADDA</abbr> provides information, resources and networking opportunities to help adults with <abbr title="Attention Deficit/Hyperactivity Disorder">ADHD</abbr> lead better lives. Members have access to webinars, support groups, a resource directory, and more. To join, visit <a href="https://add.org/adda-membership/">https://add.org/adda-membership/</a>.</p>

      <!-- CHADD -->
      <h3><a href="https://chadd.org/">Children and Adults with Attention-Deficit/Hyperactivity Disorder (<abbr title="Children and Adults wtih Attention-Deficit/Hyperactivity Disorder">CHADD</abbr>)</a></h3>
      <p><abbr title="Children and Adults wtih Attention-Deficit/Hyperactivity Disorder">CHADD</abbr> provides information, support, and advocacy for children and adults with <abbr title="Attention Deficit/Hyperactivity Disorder">ADHD</abbr>. To become a member, visit <a href="https://chadd.org/get-involved/membership/">https://chadd.org/get-involved/membership/</a>.</p>

      <!-- NAMI -->
      <h3><a href="https://www.nami.org/">National Alliance on Mental Illness (<abbr title="National Alliance on Mental Illness">NAMI</abbr>)</a></h3>
      <p><abbr title="National Alliance on Mental Illness">NAMI</abbr> is the nation's largest grassroots mental health organization dedicated to building better lives for the millions of Americans affected by mental illness.</p>
    </div>

    <!-- Add a Resource Section -->
<%- include ('../../partials/add-resource') %>

  </main>

  <!-- Footer -->
<%- include ('../../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../../partials/script') %>

</body>
</html>