<%- include ('../../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../../partials/css') %>
  <title>Websites | Resources | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../../partials/nav') %>
  </header>

  <main>
    <h1>ADHD Resources</h1>
    <div class="resources websites">
      <h2><i class="fas fa-laptop"></i> Websites</h2>
      <ul class="websites">
        <li><a href="https://howtoadhd.com/">How to ADHD</a></li>
        <li><a href="https://addcrusher.com/blog/">ADDCrusher Blog</a></li>
      </ul>
    </div>

    <!-- Add a Resource Section -->
<%- include ('../../partials/add-resource') %>

  </main>

  <!-- Footer -->
<%- include ('../../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../../partials/script') %>

</body>
</html>