<%- include ('../../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../../partials/css') %>
  <title>YouTube | Resources | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../../partials/nav') %>
  </header>

  <main>
    <h1>ADHD Resources</h1>
    <div class="resources youtube">
      <h2><i class="fab fa-youtube"></i> YouTube</h2>
      <!-- Jessica McCabe -->
      <h3><a href="https://www.youtube.com/channel/UC-nPM1_kSZf91ZGkcgy_95Q/">How to ADHD</a> - Jessica McCabe</h3>
      <br>
      <h4><a href="https://youtu.be/JiwZQNYlGQI">TEDx Talk - Failing at Normal: An ADHD Success Story</a></h4>
      <!-- Embedded YouTube Video -->
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/JiwZQNYlGQI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br>
      <br>

      <!-- TotallyADD -->
      <h3><a href="https://www.youtube.com/user/TotallyADD/">TotallyADD</a> - Rick Green</h3>

      <!-- ADDCrusher -->
      <h3><a href="https://www.youtube.com/user/ADDCrusher/">ADDCrusher</a> - Alan Brown</h3>

      <!-- Miscellaneous -->
      <h3><a href="https://www.youtube.com/user/HelpForADHD/">Help for ADHD</a></h3>

      <h3><a href="https://www.youtube.com/user/adhdinadults/">ADHD in Adults</a></h3>
    </div>

    <!-- Add a Resource Section -->
<%- include ('../../partials/add-resource') %>

  </main>

  <!-- Footer -->
<%- include ('../../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../../partials/script') %>

</body>
</html>