<%- include ('../../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../../partials/css') %>
  <title>Your ASRS Results | CodeSquad Personal Project | Jamie L. Thompson</title>
</head>
<body>
    
  <header>
<%- include ('../../partials/nav') %>
  </header>

  <main>
    <h1>Adult ADHD Self-Report Scale Results</h1>
    <br>
    <h2>Thank you for completing the ADHD symptom checklist! Here are your results:</h2>
    <br>
    <!-- insert EJS data here -->
    <br>
    <p><a href="/adult-adhd-self-report-scale">Back to ASRS Form</a></p>
  </main>

  <!-- Footer -->
<%- include ('../../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../../partials/script') %>

</body>
</html>