<%- include ('../../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../../partials/css') %>
  <title>Your ASRS Results | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>
    
  <header>
<%- include ('../../partials/nav') %>
  </header>

  <main>
    <h1>Adult ADHD Self-Report Scale</h1>
    <br>
    <h2>All Results</h2>
    <br>
    <h3>Here are all of the form responses that have been submitted to date:</h3>
    <br>
    <!-- insert EJS data here -->
    <br>
    <p><a href="/adult-adhd-self-report-scale">Back to ASRS Form</a></p>
  </main>

  <!-- Footer -->
<%- include ('../../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../../partials/script') %>

</body>
</html>