<%- include ('../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology, humor">
<%- include ('../partials/css') %>
  <title>Humor | CodeSquad Personal Project | Jamie L. Thompson</title>
</head>
<body>

  <header>
<%- include ('../partials/nav') %>
  </header>

  <main>
    
    <h1>ADHD Humor</h1>

    <h2>Videos</h2>

    <p><a href="https://youtu.be/AbSehcT19u0">Clip from <i>Malcolm in the Middle</i></a></p>

    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/AbSehcT19u0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>Memes</h2>
    <p<a href="https://www.reddit.com/r/adhdmeme/">r/adhdmeme</p></p>

    <h2>Websites</h2>


  </main>

  <!-- Footer -->
<%- include ('../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../partials/script') %>

</body>
</html>