<%- include ('../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../partials/css') %>
  <title>Home | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body onload="websiteWelcome()">
  <header>
<%- include ('../partials/nav') %>
  </header>

  <main id="home-page">

    <div class="container-top">
      <div class="welcome-header">
        <h1>Welcome to Women with ADHD</h1>
        <h2><i>A Website to Educate &amp; Empower Women with
        <br>Attention Hyperactivity/Deficit Disorder</i></h2>
        <div class="welcome-text">
        </div>
      </div>
      <div class="welcome-photo">
        <img src="./images/logo-square.jpg" alt="Clip art of a woman smiling and holding a picture of a brain" width="100%" />
      </div>
    </div>

    <div class="container-bottom">
      <div class="topics-container">
        <!-- First Row -->
        <div class="row">
          <div class="single-topic">
            <a href="/time-management">Time Management</a>
          </div>
          <div class="single-topic">
            <a href="/procrastination-perfectionism">Procrastination &amp; Perfectionism</a>
          </div>
          <div class="single-topic">
            <a href="/focus-concentration">Focus &amp; Concentration</a>
          </div>
          <div class="single-topic">
            <a href="/productivity">Productivity</a>
          </div>
        </div>

        <!-- Second Row -->
        <div class="row">
          <div class="single-topic">
            <a href="/stress-management">
              Stress Management
            </a>
          </div>
          <div class="single-topic">
            <a href="/emotional-regulation">
              Emotional Regulation
            </a>
          </div>
          <div class="single-topic">
            <a href="/habits-routines">
            Habits &amp; Routines
            </a>
          </div>
          <div class="single-topic">
            <a href="/organization">
            Organization
            </a>
          </div>
        </div>
      </div>

      <div class="home-bottom-container">
        <p></p>
      </div>

    </div>

  </main>

  <!-- Footer -->
<%- include ('../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../partials/script') %>
<script src="/js/welcome.js"></script>

</body>
</html>