<%- include ('../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../partials/css') %>
  <title>Home | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../partials/nav') %>
  </header>

  <main>

    <a href="/procrastination">
    <div class="overlay-container">
      <img src="images/deadline-2636259_640.jpg" alt="Stopwatch showing an approaching deadline" class="image">
      <div class="overlay">
        <div class="overlay-text">
          Procrastination
        </div>
      </div>
    </div>
    </a>

  </main>

  <!-- Footer -->
<%- include ('../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../partials/script') %>

</body>
</html>