<%- include ('../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../partials/css') %>
  <title>Living with ADHD | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../partials/nav') %>
  </header>

  <main>
    
    <h1>Living with ADHD</h1>

    <h2><i class="fas fa-briefcase"></i> Work</h2>

    <h2><i class="fas fa-graduation-cap"></i> School</h2>

    <h2><i class="fas fa-home"></i> Home</h2>

    <h2><i class="fas fa-heart"></i> Relationships</h2>

    <h2><i class="fas fa-baby"></i> Parenting</h2>

    <h2><i class="fas fa-heartbeat"></i> Health</h2>

    <h2><i class="fas fa-dollar-sign"></i> Finances</h2>

  </main>

  <!-- Footer -->
<%- include ('../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../partials/script') %>

</body>
</html>