<%- include ('../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../partials/css') %>
  <title>Living with ADHD | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../partials/nav') %>
  </header>

  <main>
    
    <h1>Living with ADHD</h1>

    <h2><a href="/work"><i class="fas fa-briefcase"></i> Work</a></h2>

    <h2><a href="/school"><i class="fas fa-graduation-cap"></i> School</a></h2>

    <h2><a href="/home"><i class="fas fa-home"></i> Home</a></h2>

    <h2><a href="/relationships"><i class="fas fa-heart"></i> Relationships</a></h2>

    <h2><a href="/parenting"><i class="fas fa-baby"></i> Parenting</a></h2>

    <h2><a href="/health"><i class="fas fa-heartbeat"></i> Health</a></h2>

    <h2><a href="/finances"><i class="fas fa-dollar-sign"></i> Finances</a></h2>

  </main>

  <!-- Footer -->
<%- include ('../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../partials/script') %>

</body>
</html>