<%- include ('../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../partials/css') %>
  <title>Mindfulness | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../partials/nav') %>
  </header>

  <main>
    
    <h1>Mindfulness</h1>

    <h2><i class="fas fa-praying-hands"></i> Meditation</h2>

    <h3><i class="fas fa-spa"></i> Guided Meditations</h3>

    <h2><i class="fas fa-hand-holding-heart"></i> Self-Compassion</h2>

  </main>

  <!-- Footer -->
<%- include ('../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../partials/script') %>

</body>
</html>