<%- include ('../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../partials/css') %>
  <title>Resources | CodeSquad Personal Project | Jamie L. Thompson</title>
</head>
<body>

  <header>
<%- include ('../partials/nav') %>
  </header>

  <main>
    <h2>ADHD Resources</h2>
    <br>
    <h3>Professional Organizations</h3>
    <br>
    <!-- ADDA -->
    <h4><a href="https://add.org/">Attention Deficit Disorder Association (<abbr title="Attention Deficit Disorder Association">ADDA</abbr>)</a></h4>
    <p><abbr title="Attention Deficit Disorder Association">ADDA</abbr> provides information, resources and networking opportunities to help adults with <abbr title="Attention Deficit/Hyperactivity Disorder">ADHD</abbr> lead better lives. Members have access to webinars, support groups, a resource directory, and more.  To join, visit <a href="https://add.org/adda-membership/">https://add.org/adda-membership/</a>.</p>

    <!-- CHADD -->
    <h4><a href="https://chadd.org/">Children and Adults with Attention-Deficit/Hyperactivity Disorder (<abbr title="Children and Adults wtih Attention-Deficit/Hyperactivity Disorder">CHADD</abbr>)</a></h4>
    <p>description goes here</p>

    <!-- NAMI -->
    <h4><a href="">National Alliance on Mental Illness (<abbr title="National Alliance on Mental Illness">NAMI</abbr></a>)</h4>
    <p><abbr title="National Alliance on Mental Illness">NAMI</abbr> is the nation's largest grassroots mental health organization dedicated to building better lives for the millions of Americans affected by mental illness.</p>
    <br>
    <h3>Books</h3>
    <ul class="books">
      <li><a href="https://smile.amazon.com/Driven-Distraction-Revised-Recognizing-Attention/dp/0307743152/"><i>Driven to Distraction: Recognizing and Coping with Attention Deficit Disorder</i> by Edward M. Hallowell &amp; John J. Ratey</a></li>

      <li><a href="https://smile.amazon.com/Delivered-Distraction-Getting-Attention-Disorder/dp/0345442318/"><i>Delivered from Distraction: Getting the Most out of Life with Attention Deficit Disorder</i> by Edward M. Hallowell &amp; John J. Ratey</li>

      <li><a href="https://smile.amazon.com/Radical-Guide-Women-ADHD-Neurodiversity/dp/168403261X/"><i>A Radical Guide for Women with ADHD: Embrace Neurodiversity, Live Boldly, and Break Through Barriers</i> by Sari Solden &amp; Michelle Frank</a></li>

      <li><a href="https://smile.amazon.com/Women-Attention-Deficit-Disorder-Differences/dp/0978590929/"><i>Women with Attention Deficit Disorder: Embrace Your Differences and Transform Your Life</i> by Sari Solden</a></li>

      <li><a href="https://smile.amazon.com/Journeys-Through-ADDulthood-Discover-Attention/dp/0802776795/"><i>Journeys through ADDulthood: Discover a New Sense of Identity and Meaning with Attention Deficit Disorder</i> by Sari Solden</a></li>

      <li><a href="https://smile.amazon.com/You-Mean-Lazy-Stupid-Crazy/dp/0743264487/"><i>You Mean I'm Not Lazy, Stupid or Crazy?!</i> by Kate Kelly &amp; Peggy Ramundo</a></li>

      <li><a href="https://smile.amazon.com/Queen-Distraction-Women-Conquer-Chaos/dp/1626250898/"><i>The Queen of Distraction: How Women with ADHD can Conquer Chaos, Find Focus, and Get More Done</i> by Terry Matlen</a></li>

      <li><a href="https://smile.amazon.com/Help-Women-ADHD-Strategies-Conquering/dp/1544182708/"><i>Help for Women with ADHD: My Simple Strategies for Conquering Chaos</i> by Joan Wilder</a></li>

      <li><a href="https://smile.amazon.com/Divergent-Mind-Thriving-World-Designed/dp/0062876791/"><i>Divergent Mind: Thriving in a World that Wasn't Designed for You</i> by Jenara Nerenberg</a></li>

      <li><a href="https://smile.amazon.com/Taking-Charge-Adult-Russell-Barkley/dp/1606233386/"><i>Taking Charge of Adult ADHD</i> by Russell A. Barkley</a></li>

      <li><a href="https://smile.amazon.com/dp/1433811251/"><i>Succeeding with Adult ADHD: Daily Strategies to Help You Achieve Your Goals and Manage Your Life</i> by Abigail Levrini &amp; Frances Prevatt</a></li>

      <li><a href="https://smile.amazon.com/Thriving-Adult-ADHD-Strengthen-Functioning/dp/1641522720/"><i>Thriving with Adult ADHD: Skills to Strengthen Executive Functioning</i> by Phil Boissiere</a></li>

      <li><a href="https://smile.amazon.com/Focused-Forward-Navigating-Storms-Adult/dp/0996983902/"><i>Focused Forward: Navigating the Storms of Adult ADHD</i> by James M. Ochoa</a></li>

      <li><a href="https://smile.amazon.com/Mindfulness-Prescription-Adult-ADHD-Strengthening/dp/1590308476/"><i>The Mindfulness Prescription for Adult ADHD: An 8-Step Program for Strengthening Attention, Managing Emotions, and Achieving Your Goals</i> by Lidia Zylowska</a></li>

      <li><a href="https://smile.amazon.com/Organizing-Solutions-People-Revised-Updated-ebook/dp/B007ETD7GO/"><i>Organizing Solutions for People with ADHD</i> by Susan C. Pinsky</a></li>
    </ul>
    <br>
    <h3>Podcasts</h3>
    <br>
    <h3>YouTube Channels &amp; Videos</h3>
    <br>
    <!-- Jessica McCabe -->
    <h4><a href="https://www.youtube.com/channel/UC-nPM1_kSZf91ZGkcgy_95Q/">How to ADHD</a> - Jessica McCabe</h4>
    <br>
    <h5><a href="https://youtu.be/JiwZQNYlGQI">TEDx Talk - Failing at Normal: An ADHD Success Story</a></h5>

    <!-- Embedded YouTube Video -->
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/JiwZQNYlGQI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <br>
    <!-- TotallyADD -->
    <h4><a href="https://www.youtube.com/user/TotallyADD/">TotallyADD</a> - Rick Green</h4>
    <br>
    <!-- ADDCrusher -->
    <h4><a href="https://www.youtube.com/user/ADDCrusher/">ADDCrusher</a> - Alan Brown</h4>
    <br>
    <h4><a href="https://www.youtube.com/user/HelpForADHD/">Help for ADHD</a></h4>
    <br>
    <h4><a href="https://www.youtube.com/user/adhdinadults/">ADHD in Adults</a></h4>
    <br>
    <h3>Websites</h3>
    <ul class="websites">
      <li><a href="https://howtoadhd.com/">How to ADHD</a></li>
      <li><a href="https://addcrusher.com/blog/">ADDCrusher Blog</a></li>
    </ul>
    <br>
  </main>

  <!-- Footer -->
<%- include ('../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../partials/script') %>

</body>
</html>