<%- include ('../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../partials/css') %>
  <title>Resources | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../partials/nav') %>
  </header>

  <main>
    <h1>ADHD Resources</h1>

    <h2><a href="/resources/professional-organizations"><i class="fas fa-user-friends"></i> Professional Organizations</a></h2>

    <h2><a href="/resources/websites"><i class="fas fa-laptop"></i> Websites</a></h2>

    <h2><a href="/resources/books"><i class="fas fa-book"></i> Books</a></h2>

    <h2><a href="/resources/podcasts"><i class="fas fa-podcast"></i> Podcasts</a></h2>

    <h2><a href="/resources/youtube"><i class="fab fa-youtube"></i> YouTube</a></h2>

    <h2><a href="/resources/social-media"><i class="fas fa-hashtag"></i> Social Media</a></h2>
    <!-- <h3><i class="fab fa-facebook"></i> Facebook</h3>
    <h3><i class="fab fa-reddit"></i> Reddit</h3>
    <h3><i class="fab fa-twitter"></i> Twitter</h3>
    <h3><i class="fab fa-instagram"></i> Instagram</h3>
    <h3><i class="fab fa-pinterest"></i> Pinterest</h3> -->

    <!-- Add a Resource Section -->
<%- include ('../partials/add-resource') %>

  </main>

  <!-- Footer -->
<%- include ('../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../partials/script') %>

</body>
</html>