<%- include ('../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../partials/css') %>
  <title>School | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../partials/nav') %>
  </header>

  <main>
    
    <h1><i class="fas fa-graduation-cap"></i> ADHD <i class="fas fa-at"></i> School</h1>

    <h2>Requesting Reasonable Accommodations</h2>

    <h3>Individualized Education Plan (IEP)</h3>

    <h2>ADHD &amp; Other Conditions</h2>

    <h3>Learning Disabilities</h3>

    <h3>Giftedness</h3>

    <h2>Tips for Students with ADHD</h2>

    <h3>Elementary School</h3>

    <h3>Middle School</h3>

    <h3>High School</h3>

    <h3>College</h3>

  </main>

  <!-- Footer -->
<%- include ('../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../partials/script') %>

</body>
</html>