<%- include ('../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../partials/css') %>
  <title>Treatments | CodeSquad Personal Project | Jamie L. Thompson</title>
</head>
<body>

  <header>
<%- include ('../partials/nav') %>
  </header>

  <main>
    
    <h1>Treatments for ADHD</h1>

    <h2><a href="/treatments/therapy-coaching">Psychotherapy &amp; Coaching</a></h2>

    <h2><a href="/treatments/medication">Medication</a></h2>

    <h2><a href="/treatments/natural-holistic">Natural &amp; Holistic Therapies</a></h2>

    <h2><a href="/mindfulness">Mindfulness</a></h2>

  </main>

  <!-- Footer -->
<%- include ('../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../partials/script') %>

</body>
</html>