<%- include ('../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../partials/css') %>
  <title>What is ADHD? | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../partials/nav') %>
  </header>

  <main>
    
    <h1>What is ADHD?</h1>

    <h2>Diagnosing ADHD</h2>

    <h3>DSM Criteria</h3>

    <h3>Inattentive</h3>

    <h3>Hyperactive</h3>

    <h3>Combined</h3>

    <h3>Screening Questionnaires</h3>
    <p><a href="/adult-adhd-self-report-scale">Adult ADHD Self-Report Scale (ASRS-v1.1)</a></p>

    <h2>ADHD in Women</h2>


  </main>

  <!-- Footer -->
<%- include ('../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../partials/script') %>

</body>
</html>