<%- include ('../../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../../partials/css') %>
  <title>Medication | CodeSquad Personal Project | Jamie L. Thompson</title>
</head>
<body>

  <header>
<%- include ('../../partials/nav') %>
  </header>

  <main>
    
    <h1>Medications for ADHD</h1>

    <h2>Stimulants</h2>

    <h3>Adderall</h3>

    <h3>Ritalin</h3>

    <h2>Non-Stimulants</h2>

    <h3>Strattera</h3>

    <h3>Wellbutrin</h3>

  </main>

  <!-- Footer -->
<%- include ('../../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../../partials/script') %>

</body>
</html>