<%- include ('../../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../../partials/css') %>
  <title>Medication | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../../partials/nav') %>
  </header>

  <main>
    
    <h1>Medication for ADHD</h1>

    <h2>Stimulants</h2>

    <h3>Adderall</h3>

    <h3>Ritalin</h3>

    <h3>Concerta</h3>

    <h3>Vyvanse</h3>

    <h3>Trintellix</h3>

    <h2>Non-Stimulants</h2>

    <h3>Strattera</h3>

    <h3>Wellbutrin</h3>

  </main>

  <!-- Footer -->
<%- include ('../../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../../partials/script') %>

</body>
</html>