<%- include ('../../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../../partials/css') %>
  <title>Natural &amp; Holistic Therapies | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../../partials/nav') %>
  </header>

  <main>
    
    <h1>Natural &amp; Holistic Therapies</h1>

    <h2><i class="fas fa-biking"></i> Exercise</h2>

    <h3><i class="fas fa-om"></i> Yoga</h3>

    <h3><i class="fas fa-yin-yang"></i> Tai Chi</h3>

    <h3><i class="fas fa-walking"></i> Walking</h3>
    
    <h2><i class="fas fa-bed"></i> Sleep</h2>

    <h2><i class="fas fa-apple-alt"></i> Nutrition</h2>

    <h3>Foods</h3>

    <h3>Supplements</h3>

    <h2><i class="fas fa-leaf"></i> Nature</h2>

    <h2><i class="fas fa-brain"></i> Neurofeedback</h2>

  </main>

  <!-- Footer -->
<%- include ('../../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../../partials/script') %>

</body>
</html>