<%- include ('../../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology, psychotherapy, therapy, counselling, coaching">
<%- include ('../../partials/css') %>
  <title>Therapy &amp; Coaching | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../../partials/nav') %>
  </header>

  <main>
    
    <h1>Psychotherapy &amp; Coaching</h1>

    <h2>Psychotherapy</h2>

    <h3>Cognitive Behavioral Therapy (CBT)</h3>
    <p>Info about CBT here</p>

    <h3>Dialectical Behavioral Therapy (DBT)</h3>
    <p>Info about DBT here</p>

    <h2>ADHD Coaching</h2>
    <p>Info about coaching here</p>

    <h2>Directory of Boston-Area Providers</h2>

    <p>Coming Soon!</p>

  </main>

  <!-- Footer -->
<%- include ('../../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../../partials/script') %>

</body>
</html>