<%- include ('../../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../../partials/css') %>
  <title>Emotional Regulation | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../../partials/nav') %>
  </header>

  <main>
    
    <h1>Emotional Regulation</h1>

    <h2>Dealing with Difficult Emotions</h2>

    <h3>Sadness</h3>

    <h3>Anger</h3>

    <h3>Anxiety</h3>

    <h2>Rejection Sensitive Dysphoria</h2>

    <h2>Window of Tolerance</h2>

    <h3>Hyperarousal</h3>

    <h3>Hypoarousal</h3>

  </main>

  <!-- Footer -->
<%- include ('../../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../../partials/script') %>

</body>
</html>