<%- include ('../../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../../partials/css') %>
  <title>Focus &amp; Concentration | CodeSquad Personal Project | Jamie L. Thompson</title>
</head>
<body>

  <header>
<%- include ('../../partials/nav') %>
  </header>

  <main>
    
    <h1>Focus &amp; Concentration</h1>

    <h2>Dealing with Distractions</h2>

    <h3>Noise</h3>
    <p>Some people with <abbr title="Attention Deficit/Hyperactivity Disorder">ADHD</abbr> find it helpful to play music or white noise in the background while they work. This can help mask other more distracting sounds and aid with focus and concentration.</p>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </main>

  <!-- Footer -->
<%- include ('../../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../../partials/script') %>

</body>
</html>