<%- include ('../../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../../partials/css') %>
  <title>Habits &amp; Routines | CodeSquad Personal Project | Jamie L. Thompson</title>
</head>
<body>

  <header>
<%- include ('../../partials/nav') %>
  </header>

  <main>
    
    <h1>Habits &amp; Routines</h1>

    <h2>Morning</h2>

    <h2>Afternoon</h2>

    <h2>Evening</h2>

  </main>

  <!-- Footer -->
<%- include ('../../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../../partials/script') %>

</body>
</html>