<%- include ('../../partials/meta') %>
  <meta name="description" content="CodeSquad Personal Project">
  <meta name="keywords" content="ADHD, ADD, mental health, psychology">
<%- include ('../../partials/css') %>
  <title>Productivity | Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</title>
</head>
<body>

  <header>
<%- include ('../../partials/nav') %>
  </header>

  <main>
    
    <h1>Productivity</h1>

    <h2>Productivity Methods</h2>

    <h3><img src="../../images/icons/tomato.jpg" alt="tomato icon" height="20" /> Pomodoro Technique</h3>
    <h4>Online Pomodoro Timer</h4>>
    <ul>
      <li><a href="https://francescocirillo.com/pages/pomodoro-technique">Official Pomodoro Technique Website by Francesco Cirillo</a></li>
      <li><a href="https://qz.com/752614/the-best-productivity-system-for-procrastinators-is-to-work-with-your-natural-tendencies/">The best productivity system for procrastinators is to work with your natural tendencies</a></li>
    </ul>

    <h3><i class="fas fa-frog"></i> Eat the Frog</h3>

    <h3>Getting Things Done</h3>

    <h3><i class="far fa-calendar-check"></i> Don't Break the Chain</h3>

    <h3>Kanban</h3>

    <h2><i class="fas fa-list-ol"></i> Setting Priorities</h2>

    <h2><i class="fas fa-clipboard-list"></i> To Do Lists</h2>


  </main>

  <!-- Footer -->
<%- include ('../../partials/footer') %>

  <!-- JavaScript -->
<%- include ('../../partials/script') %>

</body>
</html>